@use './variables' as *;

.container_hero {
	display: flex;
	justify-content: center;
	flex-direction: column;

	gap: 10rem;

	margin: 0 auto;
	max-width: 192rem;
	min-height: 100vh;
	position: relative;
}
.container_hero::before {
	position: absolute;
	z-index: -10;
	content: url(../imgs/bg_hero.png);
	top: -14rem;
	left: 0px;
}
.hero_info {
	max-width: 64rem;
	max-height: 22rem;
	margin-left: 16rem;
	& h1 {
		font-family: Righteous;
		font-size: 5.6rem;
		font-weight: 400;
		line-height: 1.2;
	}
	& p {
		font-family: Roboto;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.2;
		color: $text-grey;
	}
}

.btn_container {
    margin-left: 16rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
	& span {
		display: block;
		max-width: 59rem;
		max-height: 7.6rem;
		font-family: Roboto;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.2;
	}
}
