@use './helpers' as *;
@use './variables' as *;

.header {
	margin: 2rem auto;
	max-width: 100%;
	display: flex;
	gap: 14rem;
	justify-content: center;
	align-items: center;
	position: relative;
	
}
.logo_link {
	margin-left: -2rem;
	& a {
		font-family: Righteous;
		font-size: 4rem;
		text-decoration: none;
		color: $black;
	}
	& a:hover {
		color: $dark-color-grey;
		scale: 1.2;
	}
}

.header_nav_list {
	display: flex;
	gap: 3rem;

	& .header_nav_list_item {
		& a {
			text-decoration: none;
			font-family: Roboto;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.1;
			font-family: Roboto;
			color: $dark-color-grey;
		}
		& a:hover {
			color: $black;
		}
	}
}


.header::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -2;
	background-image: url(../imgs/circle_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	top: -26rem;
	right:-50rem;
	max-width: 104rem;
	width: 100%;
	height: 104rem;
	border-radius: 50%;
	overflow: hidden;
}
