@use './header' as *;
@use './helpers' as *;
@use './variables' as *;
@use './container_hero' as *;



html{
    font-size: 10px;
}

.wrapper{
    margin: 0 auto;
    
    min-height: 100vh;
    width: 100%;
    max-width: 192rem;
    overflow: hidden;

    background-image: url(../imgs/bg_hero.png);
    background-position: top;
    background-repeat: no-repeat;


}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}